<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div class="content">
        <h1>WebGL Programming Guide</h1>
    </div>
    <div>
        <a href='./ch02.html'>ch02</a>
    </div>
    <div>
        <a href='./ch03.html'>ch03</a>
    </div>
    <div>
        <a href='./ch04.html'>ch04</a>
    </div>
    <div>
        <a href='./ch05.html'>ch05</a>
    </div>
</body>
</body>

</html>